body{
    background-image: linear-gradient(to bottom right, #f5f7fa, #c3cfe2);
    background-repeat: no-repeat;
}
.container{
    padding: 5%;
}
.jumbotron{
    background-image: linear-gradient(to bottom right, #c3cfe2, #f5f7fa);
}
.Question{
    color: hotpink;
    font-size: 20pt;
}
.btn{
    border: 0px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
    background-color: hotpink;
}
#show-countdown{
    margin: auto;
    color: hotpink;
    font-size: 50pt;
}

