:root{
    background: linear-gradient(to bottom right, #f5f7fa, #c3cfe2);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
body{
    background-color: transparent;
    height: 100%;
    text-align: center;
    color: hotpink;
}
#show-countdown{
    margin: auto;
    font-size: 50pt;
    font-weight: 500;
}

#sub-wrapper{
    display: inline-block;
    width: 50%;
    margin: 25px;
}
.q{
    margin: 25px;
}
#Aggretsuko{
    position:fixed;
    bottom:0px;
    left:50%;
}


